 
.App{
  height: 100vh;
  background-color: #AFD4C0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
 
}
#routes{
  width: 70%;
    background-color: #E5F4EC;
   height: 100vh;
  
    align-self: center;
}
